@model Post

<arcticle>
    <h1>@Model.Title</h1>
    <p>@Html.Raw(Model.Body)</p>
    <small>@Model.PublishDate.ToShortDateString()</small><br />
    <small>@Model.TagsText</small><br />

    @if (@ViewData["Title"].ToString() == "Posts")
    {
        <a asp-page="./PostDetails" asp-route-id="@Model.Id"> Details </a>
        @if (User?.IsInRole("Admin") == true)
        {
            <a asp-page="./EditPost" asp-route-id="@Model.Id">Edit</a>
            <a asp-page="./DeletePost" asp-route-id="@Model.Id">Delete</a>
        }
    }
</arcticle>