@page "{id:int}"
@model PostDetailsModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<article>
    <h2>@Model.Post.Title</h2>
    <p>@Html.Raw(Model.Post.Body)</p>
    <small>@Model.Post.PublishDate.ToShortDateString()</small><br />
    <small>@Model.Post.TagsText</small><br />
</article>

<a asp-page="./posts">Back</a>

@Html.Partial("~/Pages/CommentsPartial.cshtml", Model)