@model Game

<arcticle>
    <h1>@Model.Name</h1>
    <div class="gameGrid">
        <div class="gameImage">
            <img class="gameImage" src="@Model.ImagePath" />
        </div>
        <div class="gameDescription">
            <p class="gameDescription">@Html.Raw(Model.Description)</p>
        </div>
    </div>
    <small>@Model.PublishDate</small><br />
    <small>@Model.TagsText</small><br />

    @if (String.IsNullOrWhiteSpace(Model.PlayLink) == false)
    {
        <a href="@Model.PlayLink" target="_blank">Play</a>
    }
    @if (@ViewData["Title"].ToString() == "Games")
    {
        <a asp-page="./GameDetails" asp-route-id="@Model.Id">Details</a>
        @if (User?.IsInRole("Admin") == true)
        {
            <a asp-page="./EditGame" asp-route-id="@Model.Id">Edit</a>
            <a asp-page="./DeleteGame" asp-route-id="@Model.Id">Delete</a>
        }
    }
</arcticle>