@page "tags:string"
@model GamesSiteMain.Pages.Games.GamesModel
@{
    ViewData["Title"] = "Games";
}

<h2>@ViewData["Title"]</h2>

@if (User?.IsInRole("Admin") == true)
{
    <div><a asp-page="./EditGame">Add New Game</a></div>
}

<div class="taggedList">
    <div class="taggedListTags">
        <form method="post">
            <h4>Tags</h4>

            @foreach (var tag in Model.Tags)
            {
                <input id="@tag" type="hidden" asp-for="Tags[Model.Tags.IndexOf(tag)]" />
                <input id="@tag" type="checkbox" asp-for="TagStates[Model.Tags.IndexOf(tag)]" />
                <label for="@tag">@tag</label><br />
            }

            <button type="submit" class="btn btn-default">></button>
        </form>
    </div>
    <div class="taggedListEntries">
        @if (Model.Games.Count > 0)
        {
            @foreach (var game in Model.Games)
            {
                <arcticle>
                    <h1>@game.Name</h1>
                    <p>@game.Description</p>
                    <small>@game.PublishDate</small><br />
                    <small>@game.TagsText</small>
                </arcticle>
            }
        }
        else
        {
            <p>No games found</p>
        }
    </div>
</div>

