@page "{id:int}"
@model GameDetailsModel
@{
    ViewData["Title"] = Model.Game.Name;
}

<article>
    <h2>@Model.Game.Name</h2>
    @if (String.IsNullOrWhiteSpace(Model.Game.PlayLink) == false)
    {
        <a href="@Model.Game.PlayLink" target="_blank">Play</a><br />
    }
    <img src="@Model.Game.ImagePath" />
    <p>@Html.Raw(Model.Game.Description)</p>
    <small>@Model.Game.PublishDate.ToShortDateString()</small><br />
    <small>@Model.Game.TagsText</small><br />
</article>

@Html.Partial("~/Pages/CommentsPartial.cshtml", Model)