@page "tags:string"
@model GamesModel
@{
    ViewData["Title"] = "Games";
}

<h2>@ViewData["Title"]</h2>

@if (User?.IsInRole("Admin") == true)
{
    <div><a asp-page="./EditGame">Add New Game</a></div>
}

<div class="taggedList">
    <div class="taggedListTags">
        @Html.Partial("../TagsPartial", Model)
    </div>
    <div class="taggedListEntries">
        @if (Model.Games.Count > 0)
        {
            @foreach (var game in Model.Games)
            {
                <arcticle>
                    <h1>@game.Name</h1>
                    <p>@game.Description</p>
                    <small>@game.PublishDate</small><br />
                    <small>@game.TagsText</small><br />

                    <a asp-page="./GameDetails" asp-route-id="@game.Id"> Details </a>
                    @if (User?.IsInRole("Admin") == true)
                    {                        
                        <a asp-page="./EditGame" asp-route-id="@game.Id">Edit</a>
                        <a asp-page="./DeleteGame" asp-route-id="@game.Id">Delete</a>
                    }
                </arcticle>
            }
        }
        else
        {
            <p>no games yet</p>
        }
    </div>
</div>

